@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/*Your Custom CSS Goes here*/

@font-face {
  font-family: Ortica Linear; /* set name */
  src: url("../fonts/OrticaLinear-Regular.otf"); /* url of the font */
  font-display: swap;
}

body {
  font-family: Ortica Linear, serif;
}