---
layout: default
---

<section class="flex flex-col w-full lg:max-w-3xl gap-16 m-auto">
    {% set postslist = collections.films %}

    {% for post in postslist %}

        <div class="grid grid-cols-1 gap-8 items-center w-full">
            
            {# Image Block #}
            <img src="{{ post.data.galleryImages[0].image }}" 
                 alt="{{ post.data.title }}" 
                 class="w-full object-cover rounded-sm {% if isEven %} lg:order-2 {% else %} lg:order-1 {% endif %}">

            {# Text Block #}
            <article id="{{ post.data.title | slug }}" 
                     class="flex flex-col {% if isEven %} lg:order-1 {% else %} lg:order-2 {% endif %}">
                
                <h2 class="font-bold text-3xl text-gray-900 mb-2">
                    <a href="{{ post.url | url }}" class="hover:text-blue-600">
                        {{ post.data.title if post.data.title else "Untitled" }}
                    </a>
                </h2>
            </article>
        </div>
    {% endfor %}
</section>