<div class="w-full">
    <nav class="flex flex-col lg:flex-row items-center justify-center lg:justify-between flex-wrap ">
        <!--Logo etc-->
        <div class="flex grow items-center">
            <a href="/">
                Lau Persijn</a>
        </div>

        <!--Menu-->
        <div class="lg:flex lg:items-center lg:w-auto text-center ">

            {% if navigation.items %}

            <ul class="flex flex-row lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                {% for item in navigation.items %}
                <li class="nav__item mr-3 grow">
                    <a class="text-ml inline-block no-underline uppercase"
                        href="{{ item.url }}">{{ item.text }}</a>
                </li>
                {% endfor %}
            </ul>

            {% endif %}
        </div>
    </nav>
</div>